.main-heading{
    height: 500px;
    background-color: rgb(83, 188, 188);

  }          
  .signup-from{
    width: 230px;
    height: 333px;
    background-color:rgba(0, 0, 0, 0.373);
    margin: 0px auto;
    padding: 10px;
    box-shadow: 3px 2px 5px 0px rgb(0, 0, 0);
    border: solid 1px black;
    display: block;
}

.singup-btn{
    display: block;
    margin: 1px auto;
    width: 100px;
}