
.signup-img-container{
  width: 40%;
  /* background-color: antiquewhite; */
}
.sign-up-details{
  width: 60%;
  /* background-color: aqua; */
    
  padding: 30px;
}

.signup-img{
  height:540px;
  filter:drop-shadow(0 0 3px #1990ff)
}

.signup-main-container{
  display: flex;
  justify-content: space-around;
  /* background-color: #e6f9ff; */
}

.input-label{

    font-size: 22px;
    color: rgb(27, 48, 158);
    font-weight: 600;

    
}




.signup-input-field{
  height: 32px;
  width:340px;
  padding: 18px;
  outline: none;
  border: 1px solid rgb(81, 188, 230);
  border-radius: 5px;
  box-shadow: 0 0 10px rgb(225, 222, 222);
}

.singup-btn{
  display: block;
  margin: 15px 10px;
  background-color: #0083ff;
  color: white;
  padding: 7px 70px;
  border-radius: 10px;
  font-size: 18px;
  border: none;
}
.gender-input{

  width: 20px;
  
}

.sign-up-heading{
 margin-bottom: 40px;
 text-align: center;
 font-size: 35px;
}

/* input[type=radio] {
  border: 0px;
  width: 50%;
 
} */

.blue-color{
  color: #0083ff;
}

@media only screen and (max-width : 768px) {

  .sign-up-heading{
    width:200px;
  }
  .signup-img{
    height:500px;
    filter:drop-shadow(0 0 3px #1990ff)
  }

  

  .signup-main-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  
  .inputsignup{
    display: flex;
  flex-direction: column;

  }

  .signup-img{

    height:400px;
  }

  

  

}







/* .signup-container-main{
  box-shadow: 0 0 10px rgb(185, 183, 183);
  margin: 20px;
  padding: 20px;
  border-radius: 30px;
}


.signup-container-main{
  box-shadow: 0 0 10px rgb(185, 183, 183);
  margin: 30px;
  border-radius: 10px;
  height: 600px;

}

.main-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
/* .container-A {
  width: 450px;
  background-image: url("https://img.freepik.com/free-photo/three-serious-students-studying-using-tablet-computer_1262-15312.jpg?size=626&ext=jpg&ga=GA1.1.227241808.1695190605&semt=ais");
  background-position: center;
} */



/* .signup-from-container {
  position: relative; 
  width: 400px;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
  overflow: hidden;
  margin-left: 40px;

}



.signup-from {
  width: 400px;
  height: 400px;

  display: block;

}

.input-heading {
  width: 50px;
  padding: 2px;
  font-size: 18px;
  font-weight:400;

}

.from-control {
  padding: 5px;
  width: 400px;
  font-size: 12px;
}

.text-center{
  font-size: 25px;
  font-weight: 400;
}

.heading{
  font-size: 12px;
  font-weight: 200;
}

.singup-btn{
  width: 200px;
  margin: 5px;
  margin-left: 50px;
}

.singup-btn {
  width: 250px;
  border: none;
  border-radius: 8px;
  text-align: center;
  padding: 3px 5px;
}



.singup-btn {
  width: 400px;
  border: none;
  border-radius: 8px;
  text-align: center;
  padding: 8px 10px;

  color: white;
  background-color: rgb(29, 30, 112);
  margin-top: 10px;

}  */ 