.rooms-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 50px;
    padding: 20px;
flex-wrap: wrap;
   

}

.search-bar1{
    width: 500px;
   display: block;
    font-size: 20px;
    margin: 20px auto;
    border: 1px solid rgb(57, 98, 220);
   border-radius: 50px;
   padding: 10px 20px;
   outline: none;
}
.search-bar:hover{
    background-color: rgb(246, 246, 246);
     border: 1px solid rgb(199, 196, 196);
    box-shadow: 0px 0px 5px rgb(26, 185, 233);
}