.bacground-image{
    height: 100vh;

  }          
.login-from {
    width: 200px;
    height: 300px;
    margin: 30px auto;
    padding: 10px;
    display: block;

}


.main-containerB{
    display: flex;
    flex-direction: row; 
    box-shadow: 0 0 10px rgb(185, 183, 183);
    margin: 20px;
    padding: 20px;
    border-radius: 30px;
}

.background-imageA{  
  height:400px;
  width: 450px;
  background-image: url("https://img.freepik.com/free-photo/three-serious-students-studying-using-tablet-computer_1262-15312.jpg?size=626&ext=jpg&ga=GA1.1.227241808.1695190605&semt=ais");
  background-position: center;
  margin-right: 100px;
}

.signup-message{
    font-size: 1000px;
    color: white;
    display: block;
    justify-content: center;
    margin-top: 20px;
}

.input-heading-login{
    width: 50px;
    padding: 10px;
    font-size: 12px;
    font-weight:400;
}
.from-control{
    font-size: 12px;
    font-weight: 400;
    padding: 2px;
}

.login-btn{
    width: 250px;
    border: none;
    border-radius: 8px;
    text-align: center;
    margin-top: 10px;
    padding: 3px 5px;
    color: white;
    background-color: rgb(29, 30, 112);
}



