.loginbg {
    height: 380px;
   margin-left: 120px;
  margin-top: 30px;
}

.login-container {

    display: flex;
}

.login-details {
  
    width: 50%;
}

.login-bg-container {
    width: 50%
}

.input-heading-login {


    font-size: 25px;
    color: rgb(27, 48, 158);
    font-weight: 600;

}

.input-field-login {
    height: 30px;
    width: 500px;
    padding: 18px;
    outline: none;
    border: 1px solid rgb(81, 188, 230);
    border-radius: 5px;
    box-shadow: 0 0 10px rgb(225, 222, 222);
}
.login-btn{
    width:500px;
    margin: 20px auto;
    background-color: #0083ff;
    border:none;
    border-radius: 5px;
    padding:5px 50px;
    color: white;
    font-size: 20px;
}



























/* .bacground-image{
    height: 100vh;

  }          
.login-from {
    width: 200px;
    height: 300px;
    margin: 30px auto;
    padding: 10px;
    display: block;

}


.main-containerB{
    display: flex;
    flex-direction: row; 
    box-shadow: 0 0 10px rgb(185, 183, 183);
    margin: 20px;
    padding: 20px;
    border-radius: 30px;
    flex-direction: row;
    box-shadow: 0 0 5px rgb(105, 104, 104);
    padding: 20px;
    margin:30px;
    border-radius: 5px;

}

.background-imageA{  
  height:400px;
  width: 450px;
  background-image: url("https://img.freepik.com/free-photo/three-serious-students-studying-using-tablet-computer_1262-15312.jpg?size=626&ext=jpg&ga=GA1.1.227241808.1695190605&semt=ais");
  background-position: center;
  margin-right: 100px;
}





/* .login-btn{

    width: 250px;
    border: none;
    border-radius: 8px;
    text-align: center;
    margin-top: 10px;
    padding: 3px 5px;
    color: white;
    background-color: rgb(29, 30, 112);

    
    margin-top: 10px;
    border: none;
    border-radius: 4px;
    width:400px;
    color: white;
    padding: 8px 10px;
    background-color: rgb(30, 3, 69);

} */