.room-card {
    width: 60%;
    margin: 5px;
    border: 1px solid white;
    background-color: white;
    border-radius: 10px;
    border: 1px solid rgb(212, 207, 207);
}

.roomcard-container {
 
    display: flex;
    padding: 10px;
    width: 900px;
   
}

.room-card:hover {
    background-color: rgb(246, 246, 246);
    box-shadow: 0px 0px 5px rgb(26, 185, 233);
}

.room-card-image {
    width: 300px;
    height: 200px;
    border-radius: 10px;
    
    
}

.room-card-name {
    font-size: 20px;
    font-weight: 1000;

}

.room-card-price {
    font-size: 20px;
    font-weight: 800;
    color: rgb(196, 30, 30);

}

.room-card-btn {
  
    text-decoration: none;
    font-weight: bolder;
    color: rgb(23, 20, 230);
    border: none;
    border-radius: 10px;
   
}