.room-card {
    /* height:400px;
    width:400px; */
    margin: 5px;
    border-radius: 10px;
    border: 1px solid rgb(212, 207, 207);
}

.roomcard-container{
    width:350px;
   margin: 10px;
}

.room-card:hover {
    background-color: rgb(246, 246, 246);
    box-shadow: 0px 0px 5px rgb(26, 185, 233);
}

.room-card-image {
   
    width: 350px;
    height: 200px;
    border-radius: 10px;
    
    
} 

.room-card-name {
    font-size: 20px;
    

}

.room-card-price {
    font-size: 20px;
    font-weight: 800;
    color: rgb(196, 30, 30);

}

.room-card-btn {
  
    text-decoration: none;
    color: rgb(23, 20, 230);
    border: none;
    border-radius: 10px;
   
}